@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?evsn0j');
  src:  url('../fonts/icomoon.eot?evsn0j#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?evsn0j') format('truetype'),
    url('../fonts/icomoon.woff?evsn0j') format('woff'),
    url('../fonts/icomoon.svg?evsn0j#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
  
.icon-menu:before {
  content: "\e902";
}
.icon-d0931cd18ce300e787b8f11a1400317c:before {
  content: "\e900";
}
.icon-home:before {
  content: "\e901";
}
.icon-trophy:before {
  content: "\e99e";
}
.icon-leaf:before {
  content: "\e9a4";
}
.icon-rocket:before {
  content: "\e9a5";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-tux:before {
  content: "\eabd";
}
